.courses {
    padding: 0 6rem;

    .courses__card {
        height: 480px;
        margin-left: 10rem;
        position: relative;
        border-radius: 24px;
        margin-bottom: 3.75rem;

        .courses__card_img {
            width: 100%;
            height: 100%;
        }

        .courses__card_header {
            display: flex;
            justify-content: space-between;
            color: #FFFFFF;
            padding: 2.6rem 4rem 0 2.6rem;
            position: absolute;
            top: 0;
            width: 100%;

            .courses__card_lessons {

                h2 {
                    font-weight: normal;
                    font-size: 1.5rem;
                    padding-bottom: 0.875rem;
                }
            }

            .courses__card_duration {

                span {
                    font-size: 1.5rem;
                    float: right;
                }
            }
        }

        .courses__card_footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0 0 4rem 2.5rem;
        }
    }
}

//Pad
@media only screen and (max-width: 768px) {
    
    .courses {
        padding: 0 6rem;

        .courses__card { 
            height: 270px;
            margin-bottom: 2rem;
            margin-left: 5rem;

            .courses__card_header { 
                padding: 1.5rem;
            }

            .courses__card_footer { 
                padding: 0 0 1.5rem 1.5rem;

                img {
                    max-width: 10%;
                    height: auto;
                }
            }
        }
    }

}

//Phone
@media only screen and (max-width: 480px) {
    .courses {
        padding: 0 1rem;
    
        .courses__card { 
            height: 160px;
            margin-bottom: 2rem;
            margin-left: 6rem;

            .courses__card_header { 
                padding: .8rem;

                .courses__card_lessons {

                    h2 {
                        font-size: 1rem;
                        padding-bottom: 0;
                    }

                    span {
                        font-size: .875rem;
                    }
                }

                .courses__card_duration {

                    span {
                        font-size: 1rem;
                    }
                }
            }

            .courses__card_footer { 
                padding: 0 0 .8rem 1rem;

                img {
                    max-width: 15%;
                    height: auto;
                }
            }
        }
    }
}